# Revisores por defecto del repo. Cualquier PR pide review a alguno de los integrantes.

*       @ThomasCasco @SantinoGaldin1 @Matias1345 @Marcos0129

/.github/   @ThomasCasco
/backend/   @ThomasCasco @SantinoGaldin1 @Marcos0129
/frontend/  @ThomasCasco @Matias1345
/docs/      @ThomasCasco @SantinoGaldin1 @Matias1345 @Marcos0129
