.situation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  color: #64748b;
}

/* Botón */
.btn-primary {
  background: var(--primary);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: var(--radius-md);
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.btn-primary:hover {
  background: var(--primary-hover);
  transform: translateY(-1px);
  box-shadow: var(--shadow-md);
}

/* Filtros */
.filters {
  display: flex;
  gap: 10px;
}

.filters input,
.filters select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}

/* Tabla */
.table-container {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e2e8f0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 12px;
  background: #f1f5f9;
  font-weight: 500;
}

td {
  padding: 12px;
  border-top: 1px solid #e2e8f0;
}

/* Badges */
.badge {
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
}

.badge.green {
  background: #dcfce7;
  color: #166534;
}

.badge.blue {
  background: #dbeafe;
  color: #1d4ed8;
}

.badge.yellow {
  background: #fef9c3;
  color: #854d0e;
}

.badge.gray {
  background: #e5e7eb;
  color: #374151;
}

/* Dropdown */
.dropdown {
  position: relative;
  width: 200px;
}

.dropdown-selected {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background: white;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  width: 100%;
  background: white;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  overflow: hidden;
  z-index: 10;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #e2e8f0;
}

/* seleccionado */
.dropdown-item.active {
  background: #bfdbfe;
  font-weight: 500;
}

.dropdown-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background: white;
  cursor: pointer;
}

/* Flecha */
.arrow {
  font-size: 12px;
  transition: transform 0.2s ease;
}

/* Rotación cuando está abierto */
.arrow.open {
  transform: rotate(180deg);
}